body {
    /* border: solid; */
    display: flex;
    height: 100vh;
    width: 100vw;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    background-image: url(R.jpeg);
    /* background-repeat: no-repeat; */
    background-position: center center;
}

.container {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: conic-gradient(red, orange, yellow, green, blue, indigo, violet, red);
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: newton linear infinite;
    animation-duration: 5s;
}

.box {
    z-index: 1;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* width: 450px; */
    /* height: 450px; */
    /* border: solid; */
    margin: 25px;
    border-radius: 50%;
}

img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.section {
    display: grid;
    /* border: solid; */
}

@keyframes newton {
    100% {
        rotate: 360deg;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        width: 300px;
        height: 300px;
    }

    .box {
        margin: 18.75px;
    }

    img {
        width: 262.5px;
        height: 262.5px;
    }

}

@media only screen and (max-width: 300px) {
    .container {
        width: 200px;
        height: 200px;
    }

    .box {
        margin: 12.5px;
    }

    img {
        width: 175px;
        height: 175px;
    }

}